@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-regular-webfont.woff2') format('woff2'), url('../fonts/roboto-regular-webfont.woff') format('woff'), url('../fonts/roboto-regular-webfont.ttf') format('truetype'), url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.eot');
    src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-light-webfont.woff2') format('woff2'), url('../fonts/roboto-light-webfont.woff') format('woff'), url('../fonts/roboto-light-webfont.ttf') format('truetype'), url('../fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto-thin-webfont.eot');
    src: url('../fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-thin-webfont.woff2') format('woff2'), url('../fonts/roboto-thin-webfont.woff') format('woff'), url('../fonts/roboto-thin-webfont.ttf') format('truetype'), url('../fonts/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotothin_italic';
    src: url('../fonts/roboto-thinitalic-webfont.eot');
    src: url('../fonts/roboto-thinitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-thinitalic-webfont.woff2') format('woff2'), url('../fonts/roboto-thinitalic-webfont.woff') format('woff'), url('../fonts/roboto-thinitalic-webfont.ttf') format('truetype'), url('../fonts/roboto-thinitalic-webfont.svg#robotothin_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    padding: 0;
    margin: 0;
}
body * {
    font-family: 'robotoregular';
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
.no_padding {
    padding: 0px;
}
.logo {
    background: #ededed;
    width: 103px;
    height: 102px;
    padding: 10px;
    display: table-cell;
}
.logo_text_left {
    margin: 0;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 0 15px 0 15px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    font-size: 50px;
    color: #000;
    font-weight: bold;
    background: url(../images/logo_border.png) no-repeat right center;
}
.logo_text_right {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    padding-left: 15px;
}
.logo_text_right_top {
    font-size: 14px;
    color: #000;
}
.logo_text_right_bottom {
    font-size: 14px;
    color: #666666;
    font-style: italic;
}
.navbar_container {
    background: #00aa01;
    padding:4px 0 0;
}
.navbar_container .navbar-default {
    background-color: #00aa01 !important;
    border-color: #00aa01 !important;
}
.navbar_container *, .top_bar_container *, .toggle_bar_container * {
    transition: all .5s ease-in-out;
}
.navbar_container .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #00aa01 !important;
    color: #ffd16c !important;
}
.navbar_container .navbar-default .navbar-nav > li > a {
    color: #fff !important;
    font-size: 16px !important;
}
.navbar_container .navbar-default .navbar-nav > li > a:hover {
    color: #ffd16c !important;
}
.navbar_container .navbar {
    margin-bottom: 0px !important;
}
.navbar_container .navbar-collapse, .container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.navbar_container .navbar-right {
    margin-right: -45px !important;
}
.navbar_container .right_bar {
    background: url(../images/bar.png) no-repeat right center;
}
.body_content{ margin-bottom:77px;}
.body_content h1{ padding:0px; font-size:30px;color:#000; text-transform:uppercase; margin-top:60px; border-bottom:1px solid #c2c0c0; padding-bottom:14px; margin-bottom:30px;}
.body_content p{font-size:14px; color:#666666; font-size:14px; line-height:22px; margin-bottom:20px;}
.breadcrumb_container .breadcrumb {
    background-color: #fff;
    border-radius: 0px;
    list-style: outside none none;
    margin-bottom: 20px;
    padding: 8px 0px;
}
.breadcrumb_container .breadcrumb > li {
    font-size: 12px;
    color: #000;
}
.breadcrumb_container .breadcrumb > li a {
    color: #777777;
}
.breadcrumb_container .breadcrumb > li + li::before {
    color: #000;
    content: "> ";
    padding: 0 5px;
}
.toggle_bar {
    background: #fab010;
}
.toggle_bar {
    display: table;
    width: 100%;
    padding: 5px 13px;
}
.toggle_bar_right * {
    transition: all .5s ease-in-out;
}
.toggle_bar_left {
    display: table-cell;
    vertical-align: middle;
    font-size: 30px;
    text-transform: uppercase;
    color: #000;
}
.toggle_bar_right {
    display: table-cell;
    vertical-align: middle;
    margin-top: 7px;
}
.toggle_bar_right a img:hover {
    opacity: .7;
    -moz-opacity: .7;
    -o-opacity: .7;
    -webkit-opacity: .7;
}
.display_panel_content {
    background: #f2f2f2;
    margin-bottom: 50px;
    min-height: 200px;
    padding: 45px 15px;
}
.toggle_bar_container .col-sm-12 {
    width: 102.5%
}
.display_panel_container .col-sm-12 {
    width: 102.5% !important;
}
.select_dropdown {
    display: inline-block;
    padding: 10px 8px 10px 11px;
    ;
}
.select_drop_set_2 {
    padding-left: 150px;
}
.select_dropdown .input_text {
    color: #686868;
    display: block;
    font-size: 13px;
    font-weight: normal;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 20px;
    text-decoration: none;
    width: 270px;
    background: none;
}
.margin_adjust_1 {
    position: absolute
}
.button_group {
    .button_group {
        margin-bottom: 15px;
        padding-top: 85px;
        text-align: center;
    }
}
.submit_btn, .reset_btn {
    display: inline-block;
    margin: 0 3px;
}
.submit_btn a {
    background: #00aa01;
    border: 1px solid #00aa01;
    border-radius: 5px;
    box-shadow: 0 2px 0 #007300;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 11px 38px;
    text-decoration: none;
    text-shadow: 0 0 1px #000101;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .5s ease-in-out;
}
.submit_btn a:hover {
    background: #007800;
    border: 1px solid #007800;
    text-shadow: none;
    text-decoration: none;
    color: #fff;
}
.reset_btn a {
    background: #fa5710;
    border: 1px solid #fa5710;
    border-radius: 5px;
    box-shadow: 0 2px 0 #a6390a;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 11px 44px;
    text-decoration: none;
    text-shadow: 0 0 1px #000101;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .5s ease-in-out;
}
.reset_btn a:hover {
    background: #c7440c;
    border: 1px solid #c7440c;
    text-shadow: none;
    text-decoration: none;
    color: #fff;
}
.reset_btn a:focus {
    background: #c7440c;
    border: 1px solid #c7440c;
    text-shadow: none;
    text-decoration: none;
    color: #fff;
}
.submit_btn a:focus {
    background: #c7440c;
    border: 1px solid #c7440c;
    text-shadow: none;
    text-decoration: none;
    color: #fff;
}
.map_container iframe {
    margin: 0 0 -5px 0;
    height: calc(100vh - 324px);
}
.map_container {
}

.custom_dropdown{float:left; margin: 0 4.9px; margin-bottom:30px;}
.select-style {
    background: #f0f0f0 url("../images/select.png") no-repeat 245px -3px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    color: #686868;
    font-size: 13px;
    height: 38px;

    overflow: hidden;
    padding: 0;
    width: 275px;

}
.select-style select {
    background-color: transparent;
    background-image: none;
    border: medium none;
    box-shadow: none;
    padding: 8px 7px;
    width: 275px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom_dropdown .input_text{background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
                             border: 1px solid #e0e0e0;
                             border-radius: 3px;
                             color:#686868 !important;
                             display: block;
                             font-size: 13px;
                             font-weight: normal;
                             padding: 9px 20px 9px 3px;
                             text-decoration: none;
                             width: 275px;
}

.button_group{ clear: both;
               display: block;
               padding-bottom: 15px;
               padding-top: 20px;
               text-align: center;
               width: 100%;
}

.select-style select:focus {
    outline: none;
}
.dropdown_container2 .custom_dropdown:first-child{ margin-left:145px;}
.dropdown_container2{ margin-top:30px;}
.flagvisibility {
    display: none;
}
/*css for select ends*/

/*css for map dropdown starts*/
.map_drop_down {
    margin-top: 10px;
    position: absolute;
    right: 0;
    z-index: 9999;
}
#map_info_panel {
    width: 200px;
    height: 300px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    font-sixe: 14px;
    position: absolute;
    right: 0;
    z-index: 99;
    margin-top: 71px;
    opacity: .8;
    -o-opacity: .8;
    -moz-opacity: .8;
    -webkit-opacity: .8;
}
/*css for map dropdown ends*/

/*footer starts*/
.footer_container {
    background: #1f1f1f;
    padding: 12px 0;
}
.footer_content {
    font-size: 14px;
    color: #fff;
}
.socialPart a {
    border-radius: 50%;
    float: left;
    font-size: 14px;
    height: 27px;
    line-height: 27px;
    margin-right: 10px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 27px;
}
.socialPart a:hover {
    border-color: #8f8f8f !important;
    color: #8f8f8f !important;
}
.socialPart a.fb {
    border: 1px solid #1d43b2;
    color: #1d43b2;
}
.socialPart a.tw {
    border: 1px solid #5eaade;
    color: #5eaade;
}
.footer_container .pull-right{ margin-right:-40px;}
/*footer ends*/





.normal_text {
    color: #000;
    font-size: 14px;
    margin-bottom: 4px;
    padding-left: 5px;
    display:inline-block;
}
.normal_text span {
    font-size: 14px;
    color: #ff0000;

}

/*media queries starts*/
@media screen and (max-width:1220px) {
    .dropdown_container2 .custom_dropdown:first-child{ margin-left:0px;}
    .margin_adjust_1 {
        position: static;
    }
    .display_panel_content {
        width: 97.5%;
    }
    .toggle_bar_container .col-sm-12 {
        width: 100%;
    }
    .logo_text_left {
        padding: 0 10px;
    }
    .logo_text_left {
        white-space: normal;
        font-size: 20px;
    }
    .logo_text_right {
        white-space: normal;
    }
    .navbar_container .navbar-nav > li > a {
        padding: 10px 5px 0 !important;
    }
    .navbar_container .right_bar {
        background-position: right 13px;
    }
    .navbar_container .navbar-right {
        margin-right: 0px !important;
    }
    .navbar_container .navbar-default .navbar-nav > li > a {
        font-size: 14px !important;
    }
    /**/
}

@media screen and (max-width:768px) {
    .custom_dropdown{ margin:0 auto 15px; width:275px; float:none;}
    .dropdown_container2 .custom_dropdown:first-child{ margin:0 auto 15px; width:275px; float:none;}
    .footer_container .pull-right{ margin-right:0px;}
    .dropdown_container2 {
        margin-top: 0px;
    }
    /**/
}

@media screen and (max-width:767px) {
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        text-align: center;
    }
    .navbar_container .right_bar {
        background: none;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff !important;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #026f03 !important;
    }
    /**/
}

@media screen and (max-width:600px) {
    .reset_btn {
        display: block;
        clear: both;
    }
    .reset_btn {
        display: block;
        clear: both;
        margin-top: 50px;
    }

    .footer_content .pull-left, .footer_content .pull-right{ float:none !important; text-align:center;}
    .socialPart{text-align:center;}
    /**/
}





/*media queries ends*/
