@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-regular-webfont.woff2') format('woff2'), url('../fonts/roboto-regular-webfont.woff') format('woff'), url('../fonts/roboto-regular-webfont.ttf') format('truetype'), url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.eot');
    src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-light-webfont.woff2') format('woff2'), url('../fonts/roboto-light-webfont.woff') format('woff'), url('../fonts/roboto-light-webfont.ttf') format('truetype'), url('../fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto-thin-webfont.eot');
    src: url('../fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-thin-webfont.woff2') format('woff2'), url('../fonts/roboto-thin-webfont.woff') format('woff'), url('../fonts/roboto-thin-webfont.ttf') format('truetype'), url('../fonts/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotothin_italic';
    src: url('../fonts/roboto-thinitalic-webfont.eot');
    src: url('../fonts/roboto-thinitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-thinitalic-webfont.woff2') format('woff2'), url('../fonts/roboto-thinitalic-webfont.woff') format('woff'), url('../fonts/roboto-thinitalic-webfont.ttf') format('truetype'), url('../fonts/roboto-thinitalic-webfont.svg#robotothin_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    padding: 0;
    margin: 0;
}
body * {
    font-family: 'robotoregular';
}
html {
    position: relative;
    min-height: 100%;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
.no_padding {
    padding: 0px;
}
.logo {
    background: #ededed;
    width: 103px;
    height: 102px;
    padding: 10px;
    display: table-cell;
}
.logo_text_left {
    margin: 0;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 0 15px 0 15px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    font-size: 50px;
    color: #000;
    font-weight: bold;
    background: url(../images/logo_border.png) no-repeat right center;
}
.logo_text_right {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    padding-left: 15px;
}
.logo_text_right_top {
    font-size: 14px;
    color: #000;
}
.logo_text_right_bottom {
    font-size: 14px;
    color: #666666;
    font-style: italic;
}
.navbar_container {
    background: #00aa01;
    padding:4px 0 0;
}
.navbar_container .navbar-default {
    background-color: #00aa01 !important;
    border-color: #00aa01 !important;
}
.navbar_container *, .top_bar_container *, .toggle_bar_container * {
    transition: all .5s ease-in-out;
}
.navbar_container .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #00aa01 !important;
    color: #ffd16c !important;
}
.navbar_container .navbar-default .navbar-nav > li > a {
    color: #fff !important;
    font-size: 16px !important;
}
.navbar_container .navbar-default .navbar-nav > li > a:hover {
    color: #ffd16c !important;
}
.navbar_container .navbar {
    margin-bottom: 0px !important;
}
.navbar_container .navbar-collapse, .container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.navbar_container .navbar-right {
    margin-right: -45px !important;
}
.navbar_container .right_bar {
    background: url(../images/bar.png) no-repeat right center;
}
.body_content{ margin-bottom:77px;}
.body_content h1{ padding:0px; font-size:30px;color:#000; text-transform:uppercase; margin-top:60px; border-bottom:1px solid #c2c0c0; padding-bottom:14px; margin-bottom:30px;}
.body_content p{font-size:14px; color:#666666; font-size:14px; line-height:22px; margin-bottom:20px;}
.breadcrumb_container .breadcrumb {
    background-color: #fff;
    border-radius: 0px;
    list-style: outside none none;
    margin-bottom: 20px;
    padding: 8px 0px;
}
.breadcrumb_container .breadcrumb > li {
    font-size: 12px;
    color: #000;
}
.breadcrumb_container .breadcrumb > li a {
    color: #777777;
}
.breadcrumb_container .breadcrumb > li + li::before {
    color: #000;
    content: "> ";
    padding: 0 5px;
}
.toggle_bar {
    background: #fab010;
}
.toggle_bar {
    display: table;
    width: 100%;
    padding: 5px 13px;
}
.toggle_bar_right * {
    transition: all .5s ease-in-out;
}
.toggle_bar_left {
    display: table-cell;
    vertical-align: middle;
    font-size: 30px;
    text-transform: uppercase;
    color: #000;
}
.toggle_bar_right {
    display: table-cell;
    vertical-align: middle;
    margin-top: 7px;
}
.toggle_bar_right a img:hover {
    opacity: .7;
    -moz-opacity: .7;
    -o-opacity: .7;
    -webkit-opacity: .7;
}
.display_panel_content {
    background: #f2f2f2;
    margin-bottom: 50px;
    min-height: 200px;
    padding: 45px 15px;
}
.toggle_bar_container .col-sm-12 {
    width: 102.5%
}
.display_panel_container .col-sm-12 {
    width: 102.5% !important;
}
.select_dropdown {
    display: inline-block;
    padding: 10px 8px 10px 11px;
    ;
}
.select_drop_set_2 {
    padding-left: 150px;
}
.select_dropdown .input_text {
    color: #686868;
    display: block;
    font-size: 13px;
    font-weight: normal;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 20px;
    text-decoration: none;
    width: 270px;
    background: none;
}
.margin_adjust_1 {
    position: absolute
}
.button_group {
    .button_group {
        margin-bottom: 15px;
        padding-top: 85px;
        text-align: center;
    }
}
.submit_btn, .reset_btn {
    display: inline-block;
    margin: 0 3px;
}
.submit_btn a {
    background: #00aa01;
    border: 1px solid #00aa01;
    border-radius: 5px;
    box-shadow: 0 2px 0 #007300;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 11px 38px;
    text-decoration: none;
    text-shadow: 0 0 1px #000101;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .5s ease-in-out;
}
.submit_btn a:hover {
    background: #007800;
    border: 1px solid #007800;
    text-shadow: none;
    text-decoration: none;
    color: #fff;
}
/*.submit_btn a:focus {
    background: #007800;
   border: 1px solid #007800;
    text-shadow: none;
    text-decoration: none;
    color: #fff;
    outline:none;
}*/

.submit_btn a:focus {
    background: #007800;
    border: 1px solid #007800;
    text-shadow: none;
    text-decoration: none;
    color: #fff;
}
.reset_btn a {
    background: #fa5710;
    border: 1px solid #fa5710;
    border-radius: 5px;
    box-shadow: 0 2px 0 #a6390a;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 11px 44px;
    text-decoration: none;
    text-shadow: 0 0 1px #000101;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .5s ease-in-out;
}
.reset_btn a:hover {
    background: #c7440c;
    border: 1px solid #c7440c;
    text-shadow: none;
    text-decoration: none;
    color: #fff;
}
/*.reset_btn a:focus {
    background: #c7440c;
    border: 1px solid #c7440c;
    text-shadow: none;
    text-decoration: none;
    color: #fff;
}*/
.reset_btn a:focus {
    background: #c7440c;
    border: 1px solid #c7440c;
    text-shadow: none;
    text-decoration: none;
    color: #fff;
    outline:none;
}

.footer_container {
    background: #1f1f1f;
    position:absolute;
    bottom:0;
    width:100%;
    z-index: 1;
    padding: 12px 0;
}

.map_container iframe {
    margin: 0 0 -5px 0;
    height: calc(100vh - 324px);
}
.map_container {
}

.custom_dropdown{float:left; margin: 0 4.9px; margin-bottom:30px;}
.select-style {
    background: #f0f0f0 url("../images/select.png") no-repeat 245px -3px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    color: #686868;
    font-size: 13px;
    height: 38px;

    overflow: hidden;
    padding: 0;
    width: 275px;

}
.select-style select {
    background-color: transparent;
    background-image: none;
    border: medium none;
    box-shadow: none;
    padding: 8px 7px;
    width: 275px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom_dropdown .input_text{background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
                             border: 1px solid #e0e0e0;
                             border-radius: 3px;
                             color:#686868 !important;
                             display: block;
                             font-size: 13px;
                             font-weight: normal;
                             padding: 9px 20px 9px 3px;
                             text-decoration: none;
                             width: 275px;
}

.button_group{ clear: both;
               display: block;
               padding-bottom: 15px;
               padding-top: 20px;
               text-align: center;
               width: 100%;
}

.select-style select:focus {
    outline: none;
}
.dropdown_container2 .custom_dropdown:first-child{ margin-left:145px;}
.dropdown_container2{ margin-top:30px;}
.flagvisibility {
    display: none;
}
/*css for select ends*/

/*css for map dropdown starts*/
.map_drop_down {
    margin-top: 10px;
    position: absolute;
    right: 0;
    z-index: 9999;
}
#map_info_panel {
    width: 200px;
    height: 300px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    font-sixe: 14px;
    position: absolute;
    right: 0;
    z-index: 99;
    margin-top: 71px;
    opacity: .8;
    -o-opacity: .8;
    -moz-opacity: .8;
    -webkit-opacity: .8;
}
/*css for map dropdown ends*/

/*footer starts*/



.footer_container {
    background: #1f1f1f;
    position:absolute;
    bottom:0;
    width:100%;
    z-index: 1;
    padding: 12px 0;
}
.footer_content {
    font-size: 14px;
    color: #fff;
}
.socialPart a {
    border-radius: 50%;
    float: left;
    font-size: 14px;
    height: 27px;
    line-height: 27px;
    margin-right: 10px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 27px;
}
.socialPart a:hover {
    border-color: #8f8f8f !important;
    color: #8f8f8f !important;
}
.socialPart a.fb {
    border: 1px solid #1d43b2;
    color: #1d43b2;
}
.socialPart a.tw {
    border: 1px solid #5eaade;
    color: #5eaade;
}
.footer_container .pull-right{ margin-right:-40px;}
/*footer ends*/





.normal_text {
    color: #000;
    font-size: 14px;
    margin-bottom: 4px;
    padding-left: 5px;
    display:inline-block;
}
.normal_text span {
    font-size: 14px;
    color: #ff0000;

}


/*plot_map_report starts*/
.plot_map h1{font-size:30px; line-height:40px;text-align:center; font-weight: normal; padding:0px; margin:0px 0 13px; text-transform:uppercase; display:block; vertical-align:middle;}
.plot_map .gray_border{border:20px solid #f3f3f3; margin-bottom:20px; background:#f3f3f3; margin-top: 12px;}

.plot_map .gray_border:last-child{margin-bottom:70px; background:#f3f3f3; margin-top:0px;}

.common_section{border:1px solid #bfbfbf; margin-bottom:10px; background:#fff;}
.gray_border .common_section:last-child{margin-bottom:0px;}

.common_section h2{font-size:25px; line-height:30px; padding:12px 20px; margin:0px 0 15px; text-transform:uppercase;font-weight: normal; background:#fab010; clear:both; height:100%; overflow:hidden;}
.common_content1{padding:5px 24px 5px ;}
.common_content2{padding:0px;}
.common_content2 iframe{padding:0; margin:-15px 0 -5px; height:400px}

.table_container table{border-collapse:collapse;}
.table_container table td{}
.table_container table td:first-child{color:#000; font-size:15px; padding:9px 20px 9px 0px;}
.table_container table td:nth-child(2){color:#666666; font-size:15px; padding:9px 20px 9px 0px;}
.table_container table td:last-child{color:#666666; font-size:15px; padding:9px 0;}
.icon_btn {padding-right:10px;float:left;display:inline-block; margin-top:-3px;}


.arc_btn{float:left;padding-left:10px;display:inline-block; margin-top:-5px;}

.arc_btn  a{text-decoration:none; font-size:14px; background:#00aa01; border:1px solid #00aa01; border-radius:4px; padding:7px 20px; color:#fff; transition:all .5s ease-in-out; text-decoration:none; text-transform:none; margin-top:-3px;}

.arc_btn  a:hover{text-decoration:none;outline:none; background:#009301; border:1px solid #009301; color:#fff; transition:all .5s ease-in-out; text-decoration:none; text-transform:none;}
.arc_btn  a:active, .arc_btn  a:focus{text-decoration:none; color:#fff; outline:none;}
.cord_table table{border-collapse:collapse; width:100%;}
.cord_table table th{ text-align:center; vertical-align:middle; background:#f3f3f3; border:1px solid #dddddd; padding:15px 4px; color:#242424; font-size:14px; font-weight:normal;line-height:16px;}







.cord_table table td{white-space:nowrap;
                     vertical-align:middle; text-align:center; background:#f3f3f3; border:1px solid #dddddd; padding:18px 18px; color:#6a6969; font-size:14px; line-height:16px; font-family:Arial;}




.cord_table table td span{display:block;}
.common_content1 .box_adjust{padding-left:5px !important; padding-right:5px !important;}
.common_content1 .box_adjust:last-child{padding-right:15px !important;}
.common_content1 .box_adjust:first-child{padding-left:15px !important;}
/* .common_content_margin_adjust{padding:0px 24px 24px; margin:0px;} */
.common_section .common_content1:last-child{padding:5px 24px 24px;}








/*plot_map_report ends*/






/*plot_map_report starts*/
@media screen and (max-width:1205px) {
    .cord_table table th, .cord_table table td{/*padding: 20px 15px;*/}
    .common_content1 .box_adjust {
        margin-bottom: 15px;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .select-style{  width: 207px !important;margin:0 5px; background-position:177px -3px;}
    .select-style select{width:207px !important;}
    .custom_dropdown .input_text{width:207px !important;}
    /**/
}

@media screen and (max-width:800px) {
    .toggle_bar_left {font-size: 16px;  padding-top: 5px;}
    .display_panel_content {padding: 5px 15px;}

    .custom_dropdown {margin: 0 4.9px 10px;}
    .toggle_bar {padding: 0 13px 6px;}
    .breadcrumb_container .breadcrumb {margin-bottom: 0;}
    .submit_btn a, .reset_btn a {font-size: 16px; padding: 5px 10px;}
    .button_group {padding-top:5px;}
    .display_panel_content {margin-bottom: 5px;}
    .plot_map h1 {font-size: 20px;margin: 0 0 4px;}
    .cord_table table th, .cord_table table td {
        font-size: 12px;
        font-weight: normal;
        padding: 15px 4px;
    }


    /**/
}

@media screen and (max-width:400px) {
    .cord_table table th, .cord_table table td{padding: 20px 5px;}
    .plot_map h1 {
        font-size: 20px;
    }

    .common_section h2 {
        font-size: 18px;
        padding:12px;
    }
    .arc_btn a {
        padding: 8px 5px;
        text-decoration:none;
    }
    /**/
}









/*plot_map_report ends*/














@media screen and (max-width:1220px) {
    .dropdown_container2 .custom_dropdown:first-child{ margin-left:0px;}
    .margin_adjust_1 {
        position: static;
    }
    .display_panel_content {
        width: 97.5%;
    }
    .toggle_bar_container .col-sm-12 {
        width: 100%;
    }
    .logo_text_left {
        padding: 0 10px;
    }
    .logo_text_left {
        white-space: normal;
        font-size: 20px;
    }
    .logo_text_right {
        white-space: normal;
    }
    .navbar_container .navbar-nav > li > a {
        padding: 10px 5px 0 !important;
    }
    .navbar_container .right_bar {
        background-position: right 13px;
    }
    .navbar_container .navbar-right {
        margin-right: 0px !important;
    }
    .navbar_container .navbar-default .navbar-nav > li > a {
        font-size: 14px !important;
    }
    /**/
}

@media screen and (max-width:1000px) {
    .common_content1 .col-sm-4{

        display:block;
        width:100%;
    }


    /**/
}

@media screen and (max-width:768px) {
    .custom_dropdown{ margin:0 auto 15px; width:275px; float:none;}
    .dropdown_container2 .custom_dropdown:first-child{ margin:0 auto 15px; width:275px; float:none;}
    .footer_container .pull-right{ margin-right:0px;}
    .dropdown_container2 {
        margin-top: 0px;
    }
    /**/
}

@media screen and (max-width:767px) {
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        text-align: center;
    }
    .navbar_container .right_bar {
        background: none;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff !important;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #026f03 !important;
    }
    /**/
}

@media screen and (max-width:600px) {
    .reset_btn {
        display: block;
        clear: both;
    }
    .reset_btn {
        display: block;
        clear: both;
        margin-top: 50px;
    }

    .footer_content .pull-left, .footer_content .pull-right{ float:none !important; text-align:center;}
    .socialPart{text-align:center;}
    /**/
}





/*media queries ends*/



/*media queries starts*/
@page {
    size: A4;
    margin:30px 10px;background:#ff0000;
}

@media print{
    body, page[size="A4"] {
        margin:30px 10px;
        box-shadow: 0;
        background:#ff0000;
    }

    /* .page {
     margin:30px 10px;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
} */



    /* 	.common_content1{margin:0px 24px 0px !important; clear:both !important} */


    .cord_table table {

        /*width: 600px !important;*/
        margin:0 auto !important;
        border-collapse:collapse;
    }


    .cord_table table  th{

        font-family:Arial;
        font-size:13px;
        font-weight:bold;
        white-space:nowrap;
        border:1px solid #ccc;
    }

    .cord_table table  td{
        padding:5px !important;
        font-family:Arial;
        font-size:13px;
        white-space:nowrap;
        border:1px solid #ccc;
    }


    .toggle_bar_container, .display_panel_content{display:none;}


    .footer_container{
        display:none;
    }
    .plot_map .gray_border{
        border:4px double #9e9e9e !important;

        margin-top:5px !important;


    }




    body{font-family:Arial !important; }
    body *{color:#000 !important;}
    .top_bar_container, .breadcrumb_container{display:none !important;}


    .common_content1 .box_adjust:first-child {
        padding-left: 3px !important;
    }
    .common_section{
        border:0px solid #fff !important;
        padding-bottom:15px !important;
    }
    .common_section h2{
        display:none;
    }

    .plot_map h1{
        display: block;
        text-align:center !important;
        font-size:18px !important;
        margin: 0 0 -10px 0 !important;
        color:#8b8b8b !important;
    }
    .common_content1{
        padding: 2px 24px 5px 24px !important;

    }


    .table_container table td:first-child, .table_container table td:nth-child(2), .table_container table td:last-child {
        font-size: 13px;
        padding: 2px 20px 2px 0px !important;
        color:#8b8b8b !important;
    }

    .common_content1 .box_adjust {
        padding-left: 3px !important;
        padding-right: 15px !important;
        margin:0 10px 0px 10px !important;


        float:left !important;
        height:40px !important;
        width:200px !important;
    }

    .cord_table table th{ padding:2px 0px; vertical-align:middle !important; white-space:nowrap;}

    .cord_table table td{padding:2px 10px; font-size:11px !important; vertical-align:middle !important; white-space:nowrap;}

    /* .common_section .common_content1:nth-child(1) .box_adjust .cord_table table tr:first-child{
            visibility:visible !important;
    }

    .common_section .common_content1 .box_adjust .cord_table table tr:first-child{
            visibility:hidden;
    } */

    /* Firefox Mozilla Only */

    @-moz-document url-prefix() {
        .common_content1 .box_adjust {
            padding-left: 3px !important;
            padding-right: 15px !important;
            margin:0 5px 5px 5px !important;

            float:left !important;
            height:65px !important;
            width:210px !important;
        }

        .cord_table table th{ padding:15px 0px; vertical-align:middle !important; white-space:nowrap;}

        .cord_table table td{padding:15px 10px; vertical-align:middle !important; white-space:nowrap;}



        /**/
    }

    .common_content1 > row > .col-sm-12{width:300px;float:left;}
    /*.cord_table table{width:200px !important;}*/


    .cord_table table td span {
        display: inline !important;
        font-size: 13px !important;
    }



    .cord_table table th{ text-align:center; vertical-align:middle; background:#f3f3f3; border:1px solid #dddddd; padding:5px 8px; color:#242424; font-size:10px; font-weight:normal;}
    .cord_table table td span{ font-size:10px;}
    .cord_table table td{vertical-align:middle; text-align:center; background:#f3f3f3; border:1px solid #dddddd; padding:5px 8px; color:#6a6969; font-size:10px;}


/* for bordered div*/
	
	
.plot_map{	
page-break-after: always;
page-break-inside: avoid;
height:100vh;
}
 
.plot_map .gray_border{
	height:calc(100vh - 50px);
}

.plot_map h1{	
height:50px;
page-break-inside: avoid;
page-break-after: avoid;
}

.cord_table table{
	
}
 
/* Firefox Mozilla Only */
@-moz-document url-prefix() {
.plot_map{	
page-break-after: always;
page-break-inside: avoid;
height:93vh;
}
 
.plot_map .gray_border{
	height:calc(93vh - 50px);
}
 .cord_table table th{padding:5px 12px;}
 .cord_table table td{padding:5px 12px;}



/**/
}  
 /* Firefox Mozilla Only */
 
 
/**/	
}











